body,
div,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
button {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  font : 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  color: #666;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color          : #333;

  &:hover {
    color: rgb(227, 51, 51);
  }
}

img,
svg {
  border        : 0;
  vertical-align: middle;
}

input,
button {
  outline: none;
}

.container {
  width : 1190px;
  margin: 0 auto;
}

// 布局：一行 12 格的栅格系统
// 子元素浮动解决父元素坍塌的问题
.row:after {
  content: "";
  display: block;
  clear  : both;
}

// 一行分为12格
@for $i from 1 through 12 {
  .col-#{$i} {
    float: left;
    width: (100%/12)*$i;
  }
}

// 格之间的间距
.gutter {
  [class^=col-] {
    padding-left: 5px;
    padding-right: 5px;
  }

  &.row {
    margin-left: -5px;
    margin-right: -5px;
  }
}